/testgithub/testgithub/testgithub.csproj.user
/testgithub/testgithub/obj/Debug/net6.0/testgithub.GeneratedMSBuildEditorConfig.editorconfig
/testgithub/testgithub/obj/Debug/net6.0/project.razor.vs.json
/testgithub/.vs/testgithub/FileContentIndex/9ea1ba2d-c2e0-47d8-8af2-03618a00525d.vsidx
/testgithub/.vs/testgithub/FileContentIndex/87cedd12-83a9-4133-aa72-e8c20a6d930b.vsidx
/testgithub/.vs/testgithub/FileContentIndex/4804fe47-e293-4713-85be-3a30a0d4eff3.vsidx
/testgithub/.vs/testgithub/FileContentIndex/05fe1838-3105-4d78-844a-ffcb116a66be.vsidx
/testgithub/.vs/testgithub/DesignTimeBuild/.dtbcache.v2
/.gitignore
